<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nuist.medical.Service.ModelService">

    <resultMap id="modelMap" type="model">
        <id column="model_id" property="model_id"></id>
        <result column="model_name" property="model_name"></result>
        <result column="model_type" property="model_type"></result>
        <result column="train_data_id" property="train_data_id"></result>
        <result column="save_pth" property="save_pth"></result>
        <result column="model_description" property="model_description"></result>
        <result column="create_time" property="create_time"></result>
    </resultMap>

    <select id="queryModelList" resultMap="modelMap">
        select * from model
    </select>

    <insert id="createEmptyModel">
        insert into model(model_name,model_description,create_time)
            values(#{model_name},#{model_description},#{create_time})
    </insert>


</mapper>