<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nuist.medical.Service.TrainService">
    <resultMap id="trainMap" type="train">
        <id column="id" property="id"></id>
        <result column="file_name" property="file_name"></result>
        <result column="upload_time" property="upload_time"></result>
        <result column="save_pth" property="save_pth"></result>
        <result column="fill_type" property="fill_type" ></result>
     </resultMap>

    <select id="getTrainList" resultMap="trainMap">
        select * from train
    </select>

    <insert id="uploadNewTrainList" parameterType="train">
        insert into train(file_name,upload_time,save_pth)
            values(#{file_name},#{upload_time},#{save_pth})
    </insert>
</mapper>